npm-debug.log
.env
.git
.gitignore
README.md
tests
reports
docs
coverage
src
scripts
.github
.husky
.vscode
.editorconfig
.eslintrc*
.prettierrc*
eslint.config.js
tsconfig*.json
vitest.config.ts
*.md
!package*.json
