.sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.sidebarItemTitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
}

.sidebarItemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarItem {
  margin-bottom: 0.5rem;
}

.sidebarItemLink {
  color: var(--ifm-font-color-base);
  text-decoration: none;
}

.sidebarItemLink:hover {
  text-decoration: underline;
}

.sidebarItemLinkActive {
  color: var(--ifm-color-primary);
  font-weight: 600;
}
